$primary: #fecb3d;
$secondary: rgb(32, 75, 153);
$success: #33a567;
$info: rgb(113, 201, 243);
$warning: #f57325;
$danger: #dc3545;
$dark: #424043;

$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'dark': $dark
);

@import '~bootstrap/scss/bootstrap';

