$primary: #fecb3d;
$secondary: rgb(32, 75, 153);
$success: #33a567;
$info: rgb(113, 201, 243);
$warning: #f57325;
$danger: #dc3545;
$light: rgb(233, 236, 239);
$dark: #424043;

$navbar-height: 3.5rem;

$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'light': $light,
        'dark': $dark
);

@import 'react-datepicker/dist/react-datepicker';
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "Roboto";
  src: url("./Assets/Roboto-Regular.woff2") format("woff2"),
  url("./Assets/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif" !important;
}

.nav-size {
  min-height: $navbar-height;
}

.toolbar {
  margin-top: $navbar-height;
  background-color: $light;
  padding: 0.5rem;
  z-index: 1;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.page-header-margin {
  margin-top: 1rem;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.02);
}

.min-h-100 {
  min-height: 100%;
}

.full-height-sidebar {
  height: calc(100vh - $navbar-height); /* Full viewport height minus navbar height */
  position: fixed; /* Fix the sidebar position */
  top: $navbar-height; /* Align below the navbar */
  left: 0; /* Align to the left of the viewport */
  overflow-y: auto; /* Enable scrolling if content overflows */
  z-index: 1000; /* Ensure it stays above other content */
  background-color: white; /* Optional: Set background color */
  padding: 1rem; /* Optional: Add padding */
}

/* /////////////////////// */
/* Map related css classes */
/* /////////////////////// */

.map-container {
  position: relative;
}

.layer-control {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 300;
  padding: 8px;
  border-radius: 8px;
  z-index: 1;
  margin-left: 12px;
  margin-bottom: 12px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 750ms;
}

.heatmapRadio {
  margin-left: 10px;
}

.layer-control:hover {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
}

.color-legend-container {
  display: flex;
  flex-direction: row;
  right: 0;
  top: 0;
  margin: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  padding: 8px;
  z-index: 1;
  border-radius: 8px;
  height: fit-content;
}

.color-legend-item {
  display: flex;
  flex-direction: column;
  width: 60px;
}

.color-legend-color {
  margin-right: 0.25rem;
  width: full;
  height: 10px;
  border-radius: 2px;
}

.color-legend-label {
  display: flex;
  font-size: 13px;
  justify-content: center;
}

.color-legend-label p {
  margin: 0;
  color: white;
}

.layout-container {
  width: 100vw;
  height: 100vh;
}

.leaflet-container {
  width: 100vw;
  height: calc(100vh - 56px);
  outline: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.error-overlay {
  width: 100vw;
  height: calc(100vh - 56px);
  background-color: rgba(66, 64, 67, 0.8);
  position: absolute;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-overlay p,
.error-overlay a {
  font-size: 2rem;
  color: #ffffff !important;
  margin: 0 5px;
}

.error-msg {
  color: #5f2120;
  background-color: #fdeded;
  border-left: 0.6rem $danger solid;
  border-radius: 0.25rem;
  font-weight: bold;
  padding: 1rem 1.2rem;
  margin-bottom: 1.2rem;
}

.success-msg {
  color: #1e4620;
  background-color: #edf7ed;
  border-left: 0.6rem #4caf50 solid;
  border-radius: 0.25rem;
  font-weight: bold;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}

.loading-overlay {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-overlay-center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-marker {
  background-color: red; /* Change color as needed */
  border-radius: 50%; /* Optional: Makes the marker circular */
  width: 15px; /* Optional: Adjust size */
  height: 15px; /* Optional: Adjust size */
  cursor: pointer; /* Optional: Change cursor on hover */
}